PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/m1p12mean_garage
JWT_SECRET=m1p15bmean-garage-jwt-secret-2026-workdays-system
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:4200

# Configuration Production (à utiliser dans Render)
# MONGODB_URI=mongodb+srv://faustresilient_db_user:NjpL9dxRHG7I0Bdn@cluster0.9fmmkpa.mongodb.net/m1p12mean_garage?retryWrites=true&w=majority
# CORS_ORIGIN=https://m1p15-bmean-niaina.vercel.app
# JWT_SECRET=m1p15bmean-garage-jwt-secret-2026-workdays-system-production

